.footer{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}

.donation-list{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: start;
}

.donation-list-item p{
    margin: 0;
    padding: 0;
}

.donation-list .wallet-address{
    font-size: small;
}